@tailwind base;
@tailwind components;
@tailwind utilities;



/* Limiting the length of card title that is shown*/
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

/* Limiting the length of card body that is shown*/
  .limited-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 65px;
  }
  

  